<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners><listener class-name="rahulshettyacademy.Testcomponents.Listeners"></listener></listeners>
  <test thread-count="5" name="Test">
    <classes>
    <class name="rahulshettyacademy.Testcomponents.Basedrivertest"/>
    <class name="rahulshettyacademy.Tests.CopyofStandalonetest2"/>
      <class name="rahulshettyacademy.Tests.errorvalidationscopyofstandalone"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
